./.idea
/lca_modeller/io/resources/.ipynb_checkpoints/
/lca_modeller/io/.ipynb_checkpoints/
/lca_modeller/notebook/data/.ipynb_checkpoints/
/lca_modeller/notebook/.ipynb_checkpoints/
/lca_modeller/.ipynb_checkpoints/
/lca_modeller/notebook/.env
/lca_modeller/notebook/data/.ipynb_checkpoints/
/lca_modeller/io/resources/.ipynb_checkpoints/
/lca_modeller/notebook/export/
/lca_modeller/notebook/ecoinvent_finder.ipynb
/lca_modeller/notebook/electricity.ipynb
/lca_modeller/notebook/figures.ipynb
/lca_modeller/notebook/figures_heating.ipynb
/lca_modeller/notebook/heat.ipynb
/lca_modeller/notebook/introduction_premise.ipynb
/lca_modeller/notebook/process_tree.html
/lca_modeller/dev/
/.ipynb_checkpoints/
/lca_modeller/notebook/data/.ipynb_checkpoints/
