./.idea
/lcav/io/resources/.ipynb_checkpoints/
/lcav/io/.ipynb_checkpoints/
/lcav/notebook/data/.ipynb_checkpoints/
/lcav/notebook/.ipynb_checkpoints/
/lcav/.ipynb_checkpoints/
/lcav/notebook/.env
/lcav/notebook/data/.ipynb_checkpoints/
/lcav/io/resources/.ipynb_checkpoints/
/lcav/notebook/export/
/lcav/notebook/ecoinvent_finder.ipynb
/lcav/notebook/electricity.ipynb
/lcav/notebook/figures.ipynb
/lcav/notebook/figures_heating.ipynb
/lcav/notebook/heat.ipynb
/lcav/notebook/introduction_premise.ipynb
/lcav/notebook/process_tree.html
/lcav/dev/
/.ipynb_checkpoints/
/lcav/notebook/data/.ipynb_checkpoints/
