./.idea
/lca-modeller/io/resources/.ipynb_checkpoints/
/lca-modeller/io/.ipynb_checkpoints/
/lca-modeller/notebook/data/.ipynb_checkpoints/
/lca-modeller/notebook/.ipynb_checkpoints/
/lca-modeller/.ipynb_checkpoints/
/lca-modeller/notebook/.env
/lca-modeller/notebook/data/.ipynb_checkpoints/
/lca-modeller/io/resources/.ipynb_checkpoints/
/lca-modeller/notebook/export/
/lca-modeller/notebook/ecoinvent_finder.ipynb
/lca-modeller/notebook/electricity.ipynb
/lca-modeller/notebook/figures.ipynb
/lca-modeller/notebook/figures_heating.ipynb
/lca-modeller/notebook/heat.ipynb
/lca-modeller/notebook/introduction_premise.ipynb
/lca-modeller/notebook/process_tree.html
/lca-modeller/dev/
/.ipynb_checkpoints/
/lca-modeller/notebook/data/.ipynb_checkpoints/
